body{
	font-family: Helvetica, Arial;
	font-size:12px;
	margin:50px;
	}
select{
		width:200px; 
		border:1px solid gray;
	  }
.element{
	clear:both;
	margin-bottom: 10px;
	overflow:hidden;
	}	
.left{
	width:200px;
	display:block;
	float: left;
	}	
.left_push{
	width:425px;
	display:block;
	float: left;
	}	
.left_push2{
	width:555px;
	display:block;
	float: left;
	}	
.left_push3{
	width:695px;
	display:block;
	float: left;
	}
.right{
	width:600px;
	display:block;
	float: left;
	}
.right_define{
		width:400px;
		display:block;
		float: left;
}
.right_define2{
		width:123px;
		display:block;
		float: left;
}
a{
	color: blue;
	text-decoration:underline;
	cursor:pointer;
}	
table.fixed { 
	table-layout:fixed;	
	width:1000px;
	font-family: Helvetica, Arial;
	font-size:12px;
 }
table.fixed th { overflow: hidden; }
table.fixed td { overflow: hidden; }